.carlogo{
    width: 100px;
}

.cartitle{
    text-align: center;
    margin-top: 20px;
    color: rgb(19, 97, 71);
}

.car-sm-title{
    color: rgb(19, 97, 71);

}

.formEnquiries{
    background-color: lightgray;
    padding: 20px;
} 

.imgstyle > img{
    border-radius:10% 10% 0 10%;
    width: 100%;
    
} 
.container{
    margin-top: 10px;

}

